    /**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
    /* フォント */
    
    html {
        font-size: 14px;
    }
    
    body {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        /* Noto Sans JPのレギュラーウェイトを指定 */
        color: #fff;
    }
    /* おもな太字タグのフォントウェイト設定 */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    th,
    strong {
        font-weight: 700;
    }
    
    h1 {
        font-size: 1.857rem;
    }
    
    h2 {
        font-size: 2.64rem;
    }
    /* ベースのリンクカラー */
    
    a {
        color: ;
    }
    /* レスポンシブイメージと画像下スペース防止 */
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
        /* 画像下のスペースを消す */
    }
    
    .fa-size {
        font-size: 1.5rem;
        padding-left: .4rem;
    }
    /*========= ローディング画面のためのCSS ===============*/
    
    #splash {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 9999999;
        text-align: center;
    }
    
    #splash-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #splash-logo p {
        font-weight: bold;
        color: #fff;
    }
    /*========= 画面遷移のためのCSS ===============*/
    /*画面遷移アニメーション*/
    
    .splashbg {
        display: none;
    }
    /*bodyにappearクラスがついたら出現*/
    
    body.appear .splashbg {
        display: block;
        content: "";
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transform: scaleY(0);
        background-color: #000;
        /*伸びる背景色の設定*/
        animation-name: PageAnime;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    
    @keyframes PageAnime {
        0% {
            transform-origin: top;
            transform: scaleY(0);
        }
        50% {
            transform-origin: top;
            transform: scaleY(1);
        }
        50.001% {
            transform-origin: bottom;
        }
        100% {
            transform-origin: bottom;
            transform: scaleY(0);
        }
    }
    /*画面遷移の後現れるコンテンツ設定*/
    
    #header,
    .main,
    footer {
        opacity: 0;
        /*はじめは透過0に*/
    }
    /*bodyにappearクラスがついたら出現*/
    
    body.appear #header,
    body.appear .main,
    body.appear footer {
        animation-name: PageAnimeAppear;
        animation-duration: .8s;
        animation-delay: .8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    @keyframes PageAnimeAppear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /*========= ページネーションCSS ===============*/
    
    .pagination {
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1em;
        z-index: 10;
        list-style: none;
    }
    
    .pagination a {
        display: block;
        height: 20px;
        margin-bottom: 5px;
        color: #fff;
        position: relative;
        padding: 4px;
    }
    
    .pagination a.active:after {
        box-shadow: inset 0 0 0 5px;
    }
    /*現在地表示のテキストの設定*/
    
    .pagination a .hover-text {
        position: absolute;
        right: 15px;
        top: 0;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        padding-right: 15px;
    }
    
    .pagination a:hover .hover-text {
        opacity: 1;
    }
    
    .pagination a:after {
        -webkit-transition: box-shadow 0.5s ease;
        transition: box-shadow 0.5s ease;
        width: 10px;
        height: 10px;
        display: block;
        border: 1px solid;
        border-radius: 50%;
        content: "";
        position: absolute;
        margin: auto;
        top: 0;
        right: 3px;
        bottom: 0;
    }
    /*768px以下は現在地表示のテキストを非表示*/
    
    .pagination a .hover-text {
        display: none;
    }
    
    header {
        z-index: 1;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    .KV-container,
    .WC-container,
    .MC-container,
    .vf-container {
        padding: 0 4%;
    }
    
    .main-container h3 {
        font-size: 1.7rem;
        text-align: center;
    }
    
    .KV {
        background: url(../images/man_yellowparka.png) no-repeat center;
        background-size: cover;
    }
    
    .KV-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
    
    .WC {
        background: url(../images/woman_setup.png) no-repeat center;
        background-size: cover;
        position: relative;
    }
    
    .MC {
        background: url(../images/man_denimjacket.png) no-repeat center;
        background-size: cover;
        position: relative;
    }
    
    .WC-container a,
    .MC-container a {
        display: block;
        padding: 4%;
        background-color: #000;
        position: absolute;
        right: 0;
        bottom: 100px;
    }
    
    .vs {
        ;
    }
    
    .vs01-inner,
    .vs02-inner {
        padding: 0 4%;
    }
    
    .vs01,
    .vs02 {
        height: 50%;
    }
    
    .vs01 {
        background: url(../images/woman_coat.png) no-repeat center;
        background-size: cover;
    }
    
    .vs02 {
        background: url(../images/man_brownjacket.png) no-repeat center;
        background-size: cover;
    }
    
    .vf01 {
        background: url(../images/woman_browncoat.png) no-repeat center;
        background-size: cover;
    }
    
    footer {
        background-color: #000;
        height: 100%;
    }
    
    .footer-container {
        padding: 60px 4%;
        text-align: center;
    }
    
    .footer-container h2 {
        font-size: 2.07rem;
        margin-bottom: 24px;
    }
    
    .footer-text p {
        font-weight: bold;
        font-size: 1.6rem;
    }
    
    .footer-text p:nth-child(1) {
        margin-bottom: 12px;
    }
    
    .footer-text p:not(:nth-child(1)) {
        margin-bottom: 24px;
    }
    
    .sns {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    .icon-size {
        font-size: 3rem;
    }
    /*スクロールリンクの形状*/
    
    .scroll-top {
        /*表示位置*/
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 2;
        /*はじめは非表示*/
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
        /*それぞれに0.5秒の変化のアニメーション*/
        /*縦書き*/
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        /*改行禁止*/
        white-space: nowrap;
        /*矢印の動き*/
    }
    
    @keyframes arrowmove {
        0% {
            bottom: 20px;
        }
        50% {
            bottom: 25px;
        }
        100% {
            bottom: 20px;
        }
    }
    /*.scroll-viewクラスがついたら出現*/
    
    .scroll-top.scroll-view {
        opacity: 1;
        visibility: visible;
    }
    /*リンク全体の aタグの形状*/
    
    .scroll-top a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.9rem;
        display: block;
        margin-right: 10%;
    }
    /*スクロールリンクの形状*/
    
    .js-scroll a::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 50px;
        background: #fff;
    }
    
    .js-scroll a::before {
        content: "";
        position: absolute;
        top: 30px;
        right: -6px;
        width: 1px;
        height: 20px;
        background: #fff;
        transform: skewX(-31deg);
    }
    /*Edge IE11 hack*/
    
    _:-ms-lang(x),
    .js-scroll a::before {
        right: -11px;
    }
    /*ページトップリンクの形状*/
    
    .js-pagetop a::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 50px;
        background: #fff;
    }
    
    .js-pagetop a::before {
        content: "";
        position: absolute;
        top: 0;
        right: -6px;
        width: 1px;
        height: 20px;
        background: #fff;
        transform: skewX(31deg);
    }
    /*Edge IE11 hack*/
    
    _:-ms-lang(x),
    .js-pagetop a::before {
        right: 0;
    }